* {
    box-sizing: border-box;
  }
body {
    background-color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    color: #303030;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2
}
h2 {
    font-size: 2.1em;
    font-weight: 600;
    line-height: 1.1;
}
h3 {
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.1;
}
h4 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.2;
}
.tag-line {
    font-weight: 400;
    font-size: 28px;
}
.italic{
    font-style: italic;
}
.regular {
    font-weight: 400;
}
.bold {
    font-weight: 600;
}
.rust {
    color: #C26F5A;
}
.semibold {
    font-weight: 400;
}

nav { /* NAVIGATION */
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}

img { /* IMAGES */
    width: 100%;
}

a {     /* LINKS */
    color: #C26F5A;
    text-decoration: none;
}
a:visited {
    color: #C26F5A;
}
a:hover {
    color: #C26F5A;
    text-decoration: underline;
}
a:active {
    color: #5D91CE;
}
a:focus {
    color: #C26F5A;
    text-decoration: underline;
}

.text-link {
    font-weight: 500;
    font-size: 1.03em; 
}

.discreet-link {
    /* for hidden convenience links like a headline */
    color: #303030;
}
.discreet-link:visited {
    color: #303030;
}
.discreet-link:hover {
    color: #303030;
}
.discreet-link:active {
    color: #303030;
}
.discreet-link:focus {
    color: #303030;
}
.button { /* BUTTONS */
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-transform: lowercase;
    background-color: #ffffff;
    color: #C26F5A;
    font-weight: 500;
    padding: 5px 10px 6px 10px;
    margin: 15px 0;
    border-radius: 15px 3px;
    border: 3px solid #C26F5A;
    transition: 0.2s opacity;
}
.button:visited {
    background-color: #ffffff;
    color: #C26F5A;
    text-decoration: none;
}
.button:hover {
    background-color: #C26F5A;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background-color: #C26F5A;
    color: #ffffff;
    text-decoration: none;
}
.button:focus {
    background-color: #ffffff;
    border: solid #5D91CE;
    color: #5D91CE;
    text-decoration: none;
}
/* buttons in CONNECT footer */
.button.contact {
    background-color: #C26F5A;
    color: #ffffff;
}
.button.contact:hover {
    opacity: 0.8;
}
.button.contact:active {
    opacity: 0.8;}

.butt-shadow {
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)  ; 
}

/* LAYOUT styling */

.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
.centered {
    text-align: center;
}

/*HEADER NAV*/
header {
    background-color: #ffe4c4;
    text-align: center;
    padding: 25px 0 5px 0px;
    margin: 0px auto;
    position: fixed;
    width: 100%;}
.shadow {
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.1)  ; 
    }
.logo {
    max-width: 250px;
}
nav {
    display: inline-block;
}
nav > ul {
    list-style-type: none;
    padding: 0px 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0px 15px;
    /*text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;*/
}
/*nav > ul > li > a:visited*/

/*MAIN*/
main {
    padding-top: 137px;
    width: 100%;
}

/*HERO*/
#hero {
    background-color: #F8F3E7;
    padding: 40px 0;
    display: inline-block;
    width: 100%;
}
#hero h1 {
    text-align: center;
}

/*MY WORK*/
#mywork h4 {
    margin: 20px 0px
}
#mywork h3 {
    margin: 19px 0px
}
#mywork .row { 
    padding-bottom: 40px; 
    padding-top: 10px;
    border-bottom: 1px solid #4a4a4a; 
    margin-bottom: 50px
}
/*REFERENCES*/
#references {
    background-color: #F0BEA9;
    text-align: center;
    padding: 65px 15px 62px 15px;
    margin: 0px auto;
    width: 100%;}

.profile {
    max-width: 90px;
    display: inline-block;
}

/*ABOUT*/
#about {
    display: inline-block;
    padding-bottom: 55px;
    margin: 0px auto;
    width: 100%;
}
/*SKILLS*/
#skills {
    background-color: #F0BEA9;
    display: inline-block;
    padding: 50px 0px;
    margin: 0px auto;
    width: 100%;

}
#skills h4{
    margin: 10px 0px 0px 0px
}
#skills .container .row {
    background-color: #ffffff;
    border-radius: 30px 5px;
    border: 3px solid #ffffff;
    padding: 15px 15px 15px 30px;
    width: 290px;
    height: 300px;
    margin: 20 auto;
}
/*TOOLS*/
#tools > ul {
    max-width: 80px;
    list-style-type: none;
    padding-left: 0px;

}
#tools > ul > li {
    display: inline-block;
    margin: 5px;
}
/*SPARE TIME*/
#spare-time {
    padding: 50px 0px;
}

/*FOOTER*/
footer {
    background-color: #F8F3E7;
    padding: 55px 0px 10px 0px;
    width: 100%;
    display: inline-block;
}
.button.contact.resume {
margin: 10px 15px;
} 
.button.resume {
    margin: 10px 15px 
}
/*Icon Links*/
.icon-link {
    max-width: 50px;
    margin: 5px 10px 16px 0px;
}
.icon-link2 {
        max-width: 50px;
        margin: 8px 10px 13px 10px
    }
footer > ul {
        list-style-type: none;
        padding-left: 0px;
    }
footer > div > div > ul > li {
    display: inline-block;
}
.copyright {
    font-size: 15px;
}

