body {
    background-color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    color: #303030;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2
}
h2 {
    font-size: 2.1em;
    font-weight: 600;
    line-height: 1.1;
}
h3 {
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.1;
}
h4 {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.2;
}
.tag-line {
    font-weight: 400;
    font-size: 28px;
}
.italic{
    font-style: italic;
}
.regular {
    font-weight: 400;
}
.bold {
    font-weight: 600;
}
.rust {
    color: #C26F5A;
}
.semibold {
    font-weight: 400;
}

nav { /* NAVIGATION */
    font-size: 1.2em;
    font-weight: 500;
}

img { /* IMAGES */
    width: 100%;
}

a {     /* LINKS */
    color: #C26F5A;
    text-decoration: none;
}
a:visited {
    color: #C26F5A;
}
a:hover {
    color: #C26F5A;
    text-decoration: underline;
}
a:active {
    color: #5D91CE;
}
a:focus {
    color: #C26F5A;
    text-decoration: underline;
}

.text-link {
    font-weight: 500;
    font-size: 1.03em; 
}

.discreet-link {
    /* for hidden convenience links like a headline */
    color: #303030;
}
.discreet-link:visited {
    color: #303030;
}
.discreet-link:hover {
    color: #303030;
}
.discreet-link:active {
    color: #303030;
}
.discreet-link:focus {
    color: #303030;
}
.button { /* BUTTONS */
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-transform: lowercase;
    background-color: #ffffff;
    color: #C26F5A;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 3px;
    border: 3px solid #C26F5A;
    transition: 0.2s opacity;
}
.button:visited {
    background-color: #ffffff;
    color: #C26F5A;
    text-decoration: none;
}
.button:hover {
    background-color: #C26F5A;
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background-color: #C26F5A;
    color: #ffffff;
    text-decoration: none;
}
.button:focus {
    background-color: #ffffff;
    border: solid #5D91CE;
    color: #5D91CE;
    text-decoration: none;
}
/* buttons in CONNECT footer */
.button.contact {
    background-color: #C26F5A;
    color: #ffffff;
}
.button.contact:hover {
    opacity: 0.8;
}
.button.contact:active {
    opacity: 0.8;}